<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/app.js"></script>
</head>
<body>
{% if session.name %}
  <div class="profile-box">
    <h2>Welcome, {{ session.name }}</h2>
    <form method="POST" action="/update_name">
      <input type="text" name="name" value="{{ session.name }}" required>
      <button type="submit">Update Name</button>
    </form>
  </div>
{% else %}
  <div class="profile-box">
    <form method="POST" action="/update_name">
      <input type="text" name="name" placeholder="Enter your name" required>
      <button type="submit">Save Name</button>
    </form>
  </div>
{% endif %}


<div class="loader" id="loader"><div></div></div>

<div class="topbar">
    <div>Welcome, {{ session.name }}</div>
    <div>
        <a href="/logout" style="color:rgb(248, 4, 4)">Logout</a>
    </div>
</div>
<div><a href="{{ url_for('today') }}" class="btn btn-secondary">
    🎂 Today’s Birthdays
</a>
</div>

<div class="container" style="max-width:800px">
    <h2>Add Birthday</h2>

    <form method="post" action="/add">
        <input name="name" placeholder="Name" required>
        <input name="email" placeholder="Email" required>
        <input name="day" placeholder="Day" required>
        <input name="month" placeholder="Month" required>
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <button>Add</button>
    </form>

    <table class="table">
        <tr><th>Name</th><th>Email</th><th>DOB</th><th>Action</th></tr>
        {% for b in birthdays %}
        <tr>
            <td>{{ b[1] }}</td>
            <td>{{ b[2] }}</td>
            <td>{{ b[3] }}/{{ b[4] }}</td>
            <td><a href="/delete/{{ b[0] }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
